body{
    background-color:#ebe9e4;
    color:#a57d59;
    font-family:monospace;
}
.portfolio_title{
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: left;
    font-weight:600;
     padding: 20px;
     background-color:#cad4da;
     color:#a57d59;
}
#bio{
    font-size: 15px;
    font-weight:100;
    font-family:monospace;
    color:#a57d59
}
.dark_mode .portfolio_title{
    background-color: #4b3854;
    color:#f5cdcf;
}
.dark_mode .intro_text{
    color:#f5cdcf;
}
.project_title{
    text-align:center;
    font-size: 15px;
    font-weight:600;
    padding-bottom: 30px;
}
.project_list{
    text-align:center;
    font-size: 15px;
}
.project {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}
#next, #previous, #light_mode{
    width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: all 200ms ease;
}
.projectdescription{
    font-size: 12px;
    font-weight:100;
}
img{
    margin: 10px;
    border-radius: 5px;
}

.professions_title {
    font-size: 15px;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #eed8c2;
} 
.dark_mode .professions_title{
    background-color: #4b3854;
}
.professions_list{
    font-size: 18px;
    text-align:center;
}
ul{
    list-style-type:none;
}

.social_title{
    color:#a57d59;
    text-align:center;
    font-size: 25px;
    padding: 5px 20px 20px 20px;
    background-color: #cad4da;
}
.dark_mode .social_title {
    background-color:#4b3854;
}
.socialbutton, #light_mode{  
    width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color:#ebe9e4;
}
.socialbutton:hover, #next:hover, #previous:hover, #light_mode:hover{
    background-color:#cad4da;
    color: black;
    cursor: pointer;
    transition: all 200ms ease;
}
.socialbutton:focus, #next:active, #previous:active, #light_mode:active{
background-color:#e9d3f3;
}
.dark_mode {
    background-color:#2d2d2d;
    color:#f5cdcf;
}
.dark_mode button {
    background-color:#f5cdcf;
    color:black;
}
.travel_title{
    font-size: 15px;
    color:#a57d59;
    text-align: center;
}
#place_name{
    display: inline-block;
    margin: 10px;
}
